#menuButton {
    -fx-font: 20px "Roboto";
    -fx-background-color: #aaaaaa;
    -fx-background-radius: 0;
}

#menuButtonInactive {
    -fx-font: 20px "Roboto";
    -fx-background-color: #3c3c3c;
    -fx-background-radius: 0;
}

#menuButton:hover {
    -fx-background-color: #ffffff;
}

#blockElement {
    -fx-font: 20px "Roboto";
    -fx-background-color: #000000;
    -fx-background-radius: 0;
}

#cellElement {
    -fx-font: 20px "Roboto";
    -fx-background-color: #e8d828;
    -fx-background-radius: 0;
}

#arrowElement {
    -fx-background-repeat: stretch;
    -fx-background-image: url(/rsc/6arrowRight.png);
    -fx-background-position: center center;
    -fx-font: 20px "Roboto";
    -fx-background-color: #545454;
    -fx-background-radius: 0;
}

#arrowElement:hover {
    -fx-background-color: #aeaeae;
}

#description {
    -fx-font-size: 18;
    -fx-font: 20px "Roboto";
    -fx-background-color: #505555;
}

#rulesDescriptionWrapper {
    -fx-background-color: #505555;
}