#menuButton {
    -fx-font: 20px "Roboto";
    -fx-background-color: #aaaaaa;
    -fx-background-radius: 0;
}

#menuButton:hover {
    -fx-background-color: #ffffff;
}

#blockElement {
    -fx-font: 20px "Roboto";
    -fx-background-color: #000000;
    -fx-background-radius: 0;
}

#cellElement {
    -fx-font: 20px "Roboto";
    -fx-background-color: #9c8c27;
    -fx-background-radius: 0;
}

#cellElement:hover {
    -fx-background-color: #e9d829;
}

#arrowElement {
    -fx-background-repeat: stretch;
    -fx-background-image: url(../rsc/arrowDown.png);
    -fx-background-position: center center;
    -fx-font: 20px "Roboto";
    -fx-background-color: #545454;
    -fx-background-radius: 0;
}

#arrowElement:hover {
    -fx-background-color: #aeaeae;
}